* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.container {
    max-width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
}

.entrance {
    display: flex;
    justify-content: center;
    gap: 5px;

    &-box {
        padding-top: 10px;
    }
}

.level {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    &-box {
        width: 80px;
        height: 40px;
        border: 1px solid #000000;
    }
}

.elevator {
    display: flex;
    flex-direction: column-reverse;
}

.cabin {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 90%;
    height: 90%;

    &-direction {
        display: flex;
        flex-direction: column;
        gap: 3px;

        .arrow-up {
            transform: rotate(-90deg);
        }

        .arrow-down {
            transform: rotate(90deg);
        }
    }
}

.lvl-picked {
    background-color: rgb(28, 92, 201);
}

.lvl-ready {
    background-color: rgb(18, 156, 16);
}

.elevator-ready {
    background-color: none;
}

.elevator-move {
    background-color: rgb(28, 92, 201);
}

.elevator-rest {
    background-color: rgb(18, 156, 16);
    animation-name: blink;
    animation-timing-function: linear;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
}